spring:
  main:
    web-application-type: reactive
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: user-management-auth
          uri: lb://USER-MANAGEMENT
          predicates:
            - Path=/auth/**
          filters:
            - StripPrefix=0
            # NO JWT filter here (public)

        - id: user-management-users
          uri: lb://USER-MANAGEMENT
          predicates:
            - Path=/users/**
          filters:
            - StripPrefix=0
            # JWT REQUIRED
server:
  port: 8080
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true